$cart-radius: 30px;
$color-bg: rgb(32, 32, 39);
$color-header: rgb(225, 255, 143);
$color-item: rgb(188, 236, 48);
$color-bg-cart: rgb(255, 255, 255);
$color-text: rgb(32, 32, 39);
$color-w-text: rgb(255, 255, 255);